*{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content:space-evenly;
}
#mainlogo{
    background-color: rgba(245, 245, 245, 0.534);
    height: 5em;
    margin-top: 0.6em;
    border-radius: 100px;
}
#toptext{
    /* margin-right: 2rem; */
    height: 5em;
    display: flex;
    align-items: center;
}
#toptext h2{
    font-family: "Bad Script", cursive;
    font-size: 20px;
    letter-spacing: 2px;
}
#toptext a{
    text-decoration: none;
    color: whitesmoke;
}
#toptext a:hover{
    color: #3694e0;
}
@media (max-width:450px){
    #toptext{
        display: none;
    }
    #mainlogo{
        height: 4em;
    }
}


/* Main */
#video-background {
    filter: blur(3px);
    /* filter: contrast(47%); */
    /* filter: saturate(130%); */
    /* filter: hue-rotate(40deg); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
#text{
    height: 80vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#text h1{
    position: absolute;
    bottom: 20%;
    left: 38%;
    color: whitesmoke;
    font-weight: 400;
    font-size: 60px;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
}
#text p{
    font-weight: 500;
    line-height: 1.7em;
    width: 44%;
    position: relative;
    top: 10%;
    margin-left: 29%;
    background-color: #3a3636a8;
    margin-top: 1.5rem;
    color: #3694e0;
    font-size: 20px;
    margin-top: 260px;
}
#text button{
    position: relative;
    top: 14%;
    margin-left: 40%;
    height: 38px;
    padding: 0 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.3s;
    z-index: 1;
    width: 20%;
    background-color: #3694e0;
    color: white;
}
#text button:hover{
    border: 1px solid #bbb;
    background-color: transparent;
    color: #555;
    border: 0px;
    border: 1px solid #3694e0;
    cursor: pointer;
}
@media (min-width:1200px){
    #text p{
        top: 13.5%;
    }
}
@media (max-width:769px){
    #text h1{
        left: 27%;
    }
    #text p{
        font-size: 17px;
        top: 7%;
        margin-left: 25%;
    }
    #text button{
        margin-left: 34%;
        top: 8%;
        width: 25%;
    }   
}
/* mobile 450px */
@media (max-width:450px){
    #text h1{
        left: 32%;
        bottom: 25%;
        font-size: 25px;
    }
    #text p{
        top: 2%;
        font-size: 13px;
    }
    #text button{
        font-size: 12px;
        top: 3%;
        margin-left: 19%;
        width: 55%;
    }
}


/* main body */

#bodyText{
    padding: 2rem;
}
#bodyText h2{
    color: #3694e0;
    font-weight: 400;
    font-size: 30px;
    font-family: "Bad Script", cursive;
}
#bodyText p{
    margin-top: 0..7rem;
    color: rgb(75, 75, 70);
    font-size: 16px;
    margin-bottom: 25px;
}
#bodyText h3{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #3694e0;
    font-weight: 300;
    font-size: 20px;
    font-family: "Bad Script", cursive;
}
main u{
    color: #3694e0;
}

/* Mission box */
#missionBox{
    overflow-x: hidden;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box{
    width: 340px;
    height: 340px;
}
#bodyText #mission{
    font-size: 1.2em;
}
#missionImg{
    transform: translateX(28%);
    width: 400px;
    background-image: url(img/about/mission3.jpg);
    background-position: center;
    background-size: cover;
}
@media (max-width:769px){
    #missionImg{
        transform: translateX(10px);
        background-size: 60%;
        background-repeat: no-repeat;
    } 
}

/* offer */
#offerBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4%;
}
.offer{
    background-color: whitesmoke;
    border-radius: 10%;
    padding: 5px;
    height: 300px;
    width: 190px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.306);
    margin-bottom: 3%;
}
#bodyText #offerTitle{
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}



/* feedback */


#feedback{
    margin: 0 auto;
}
#feedback h4{
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: rgb(75, 75, 70);
    margin-bottom: 2%;
    margin-top: 1%;
}
#feedback textarea{
    padding: 4px;
    font-size: medium;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: rgb(75, 75, 70);
    resize: none;
    border-radius: 2%;
    margin-bottom: 1%;
}
#feedback textarea:focus{
    
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    border-color: #3694e0;
    outline: none;
}
#submit{
    position: relative;
    /* margin-left: 20px; */
    height: 38px;
    padding: 0 2px;
    color: #555;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.3s;
    z-index: 1;
    width: 30%;
        margin-bottom: 7%;
}
#submit:hover{
    border: 0px;
    background-color: #3694e0;
    color: white;
    border: 1px solid #3694e0;
    cursor: pointer;
}

/* Own Section */


#profile{
    background-image: url(img/profile.jpg);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
}
#bodyText #para{
    font-size: 1.2em;
}
/* Footer */
footer {
    font-family: "Montserrat", sans-serif;
    margin-top: 2%;
    background-color: #3694e0;
    padding: 20px 0;
}

.footer-container {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-image {
    width: 150px; 
    height: auto; 
}

.useful-links, .other-info {
    flex: 1;
}

.useful-links ul {
    margin-left: 20px;
    /* gap: 15px; */
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}
.useful-links h3{
    margin-left: 20px;
    margin-bottom: 10px;
}
.useful-links a{
    text-decoration: none;
    color: black;
}
.useful-links a:hover{
    color: whitesmoke;
}

.useful-links ul li {
    margin-bottom: 5px;
}

.other-info h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}
#copyright{
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}